absl-py==2.1.0
astunparse==1.6.3
blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
emoji==2.12.1
filelock==3.15.4
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fsspec==2024.6.1
gast==0.6.0
google-auth==2.32.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.65.4
gunicorn==22.0.0
h5py==3.11.0
huggingface-hub==0.24.5
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
keras==2.15.0
libclang==18.1.1
Markdown==3.6
MarkupSafe==2.1.5
ml-dtypes==0.3.2
numpy==1.26.4
nvidia-cublas-cu12==12.2.5.6
nvidia-cuda-cupti-cu12==12.2.142
nvidia-cuda-nvcc-cu12==12.2.140
nvidia-cuda-nvrtc-cu12==12.2.140
nvidia-cuda-runtime-cu12==12.2.140
nvidia-cudnn-cu12==8.9.4.25
nvidia-cufft-cu12==11.0.8.103
nvidia-curand-cu12==10.3.3.141
nvidia-cusolver-cu12==11.5.2.141
nvidia-cusparse-cu12==12.1.2.141
nvidia-nccl-cu12==2.16.5
nvidia-nvjitlink-cu12==12.2.140
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.1
platformdirs==4.2.2
protobuf==4.25.4
pyasn1==0.6.0
pyasn1_modules==0.4.0
pytz==2024.1
PyYAML==6.0.1
regex==2024.7.24
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.4.3
sentencepiece==0.2.0
six==1.16.0
SQLAlchemy==2.0.31
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
tf_keras==2.15.1
tokenizers==0.19.1
tqdm==4.66.5
transformers==4.43.3
typing_extensions==4.12.2
ua-parser==0.18.0
uritools==4.0.3
urlextract==1.9.0
urllib3==2.2.2
user-agents==2.2.0
Werkzeug==3.0.3
wrapt==1.14.1
